* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.search-module {
  margin-top: 25vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid red;
}

#search-bar-label {
  display: block;
}

#search-bar {
  width: 60vw;
}

.suggestions-section {
  width: 60vw;
  height: 60vh;
  overflow-y: auto; /* Enables scrolling if number of suggestions exceeds space allotted */
}

.suggestion {
  list-style-type: none;
  width: 60vw;
  padding: 5px 0px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  cursor: pointer;
}

#suggestions-list:last-child { /* Last suggestion in dropdown will have border on the bottom */
  border-bottom: 2px solid black;
}


.suggestion:hover { /* Highlights a suggestion when the user hovers over it. Easier to implement than multiple Event Listeners for mouseover and mouseoff */
  background-color: lightgreen;
}