* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-module {
  border: 1px solid red;
}

#fruit-search-bar-label {
  display: block;
}

#fruit-search-bar {
  width: 60vw;
  margin-bottom: 10px;
}

.suggestion {
  list-style-type: none;
  margin-bottom: 5px;
  cursor: pointer;
}

.suggestion:hover { /*Highlights a suggestion when the user hovers over it. Easier to implement than multiple Event Listeners for mouseover and mouseoff*/
  background-color: lightgreen;
}