* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom right, #f02be9, #13e7eb);
}

h1 {
  text-align: center;
  padding: 10px;
}

.search-module {
  width: 90vw;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255,255,255,0.2);
  padding: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-bar-label {
  display: block;
  margin-bottom: 5px;
}

#search-bar {
  width: 60vw;
  font-size: 2rem;
  background: rgba(255,255,255,0.5);
  padding: 5px;
  border-radius: 5px;
}

.suggestions-section {
  width: 60vw;
  height: 60vh;
  overflow-y: auto; /* Enables scrolling if number of suggestions exceeds space allotted */
  overflow-x: hidden; /*Hides horizontal scrollbar*/
}

.suggestion {
  list-style-type: none;
  width: 60vw;
  padding: 5px 0px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  cursor: pointer;
}

.suggestion em {
  font-weight: bold;
}

li:last-of-type { /* Last suggestion in dropdown will have border on the bottom */
  border-bottom: 2px solid black;
}


.suggestion:hover { /* Highlights a suggestion when the user hovers over it. Easier to implement than multiple Event Listeners for mouseover and mouseoff */
  background-color: lightgreen;
}